.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right-bar {
  width: 255px;
  flex-shrink: 0;
}

.calendar {
  flex-grow: 1;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right-bar {
  width: 255px;
  flex-shrink: 0;
}

.calendar {
  flex-grow: 1;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
